---
title: Portfolio
layout: default
---


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/photoTiler.js"></script>
<link rel="stylesheet" href="/css/gallery.css"/>

<!--section class="content">
    <h2>Portfolio</h2>
 
    <p>Check out my images below!</p>
</section-->
<section id = "photos">

    {% for post in site.posts %}
    {% for image in site.static_files %}
    {% if image.path contains post.folder %}
    {% if image.path contains "highlight" %}
    <a href="{{ site.baseurl }}{{ image.path }}">
        <div class="container">
            <img class="shrink" src="{{ site.baseurl }}{{ image.path }}" alt="image" />
            <div class="overlay">
                <div class="text">from {{post.title}}</div>
            </div>
        </div>
    </a>
    {%endif%}
    {%endif%}
    {% endfor %}
    {% endfor %}
</section>



